.darkmode-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.darkmode-none {
  display: none;
}

.darkmode-container button {
  border: none;
  background-color: transparent;
}

.dark-mode:hover {
  cursor: pointer;
}

.light-mode:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .darkmode-container {    
    left: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
  }
}