.pro-head {
    /* display: flex;
    height: 10vh; */
    height: 20%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pro-head-left {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 120%; */
    margin: 2rem 0;
}

.pro-head-right {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-logo {
    margin: 2rem 0;

}
.pro-body-head {
    display: flex;
    width: 80vw;
    height: 10vh;
}

.pro-body-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-btn {
    width: 100px;
    height: 45px;
    margin-left: 1ch;
}


.pro-body-bodylist {

}