.list {
    overflow-y: auto;
}
.profile {
    background-color: rgb(161, 190, 229);
    width: 630px;
    height: 120px;
    display: flex;
    align-items: center;

    border-radius: 5px;
    margin-bottom: 20px;
}

.image {
    background-color: darkgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 30px;
  }

.info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .id {
    font-size: 1.5rem;
}