.main {
  height: 100vh;
}

.main-header-responsive {
  display: none;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.main-left {
  width: 55%;
  height: 100%;
}

.find-contents {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-right {
  width: 35%;
  height: 100vh;
  overflow-y: hidden;
}

.right-header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-profile {
  display: flex;
  align-items: center;
}

.mp-image {
  background-color: darkgray;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.mp-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mp-nn,
.mp-un {
  font-size: 0.9rem;
}

.mp-point {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.main-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-btn {
  border-radius: 9px;
  border-width: 2px;
  padding: 0.2rem 1rem;
  margin: 0.2rem ;
}

.best-member {
  height: 17.5rem;
  border: 2px solid #b6b6b6;
  border-radius: 7px;
  padding: 0.4rem 2rem;
  margin-bottom: 1.5rem;
}

.ssafycial {
  padding: 0rem 2rem;
}


/* 다크모드 */
.dark-main-body {
  background-color: #242424;
  color: #bbb;
 }
 
 .dark-nav {
   background-color: transparent;
   border: 1px solid whitesmoke;
   border-radius: 1px;
 }
 
 .dark-sub-nav {
   background-color: #363636;
 }
 
 .dark-sub-nav-bottom,
 .dark-nav-down,
 .dark-search-input,
 .dark-c-title-btn,
 .dark-c-title-cal,
 .dark-calender {
   background-color: #242424;
   color: #bbb;
 }
 
 .dark-c-channels::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 9px;  
 }

 .dark-c-channels > .c-channel {
  color: #cccccc;
  }

  .dark-c-channels > .c-channel:hover {
    color: #A1BEE5;
  }


/* 반응형 */
@media (max-width: 992px) {
  .main-header-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    position: absolute;
    top: 1vh;
    right: 1vw;
  }

  .dropdown-item-text {
    width: max-content;
    display: flex;
    justify-content: center;
  }

  .mp-image {
    margin: 1rem 0;
  }

  .mr-mp {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }

  .line {
    background-color: gray;
    height: 1px;
    width: 18.5rem;
  }

  .dropdwon-item {
    margin: 1rem 0;
  }

  .main-search {
    margin-bottom: 0.5rem;
  }

  .link {
    text-decoration: none;
    color: #000;
  }

  .logout-text {
    color: tomato;
  }

  .main-body {
    width: auto;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
  }

  .main-left {
    width: 100%;
    margin-bottom: 1rem;
  }

  .main-right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-y: visible;
  }

  .right-header {
    display: none;
  }

  .best-member {
    height: 18rem;
  }

  .ssafycial,
  .best-member {
    padding: 0 0 2rem 0;
  }
}
