.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1 {
  font-weight: bold;
}

.dark-not-found {
  background-color: #242424;
  color: #bbb;
}